body {
	height: 100%;
	width: 100%;
}

h1 {

}

h2 {
	font-size: 2rem;
}

.Header {
	padding-top: 40;
	margin: 0;
	font-size: 1.25px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}