body {
	background-image:url(oni.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

.Header {
	padding-top: 300;
	margin: 0;
	font-size: 1.25px;
	text-align: center;
	font-family: Century Gothic, sans-serif;
}