@-webkit-keyframes brandAnimation {
  0% {
    top: -10px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -10px;
  }
}

@keyframes brandAnimation {
  0% {
    top: -10px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -10px;
  }
}

#login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
}

#brand {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  -webkit-animation: brandAnimation 2s infinite ease-in-out;
  animation: brandAnimation 2s infinite ease-in-out;

  #doge {
    height: 150px;
    width: 150px;
  }
}

#motto {
  align-items: center;
  display: flex;
  font-family: 'LCD Phone';
  font-size: 24px;
  font-weight: bold;
  height: 100px;
}

#credentials-input {
  height: 100%;

  input {
    background-color: transparent;
    border-color: #00ff00;
    color: #00ff00;
    font-size: 24px;
    margin: 5px 0px;
    outline: none;
    padding: 5px 10px;
    width: 400px;
  }
}

#credentials-buttons {
  margin-top: 20px;

  input {
    background: none;
    border: 1px solid #00ff00;
    color: #00ff00;
    font-size: 24px;
    height: 60px;
    margin: 5px 20px;
    outline: none;
    width: 120px;
  }
}

#traders-online {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-style: normal;
  height: 100px;
  justify-content: center;
}

#trending-terminal {
  align-self: flex-start;
  font-size: 36px;
}

#traders-online, #trending-terminal {
  color: #00ff00;
  font-family: 'LCD Phone';
}